---
Checks: '
    clang-analyzer-*,
    clang-diagnostic-*,
    clang-analyzer-*,
    bugprone-*,
    performance-*,
    cppcoreguidelines-*
    modernize-*,
    readability-*,
    portability-*
    '
